@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;

}

/* Variable color */
:root {
    --primary-color: #3A3A3A;
    --secondary-color: #18191F;
    --btn-primary: #E02C6D;
    --text-gray: #3A3A3A;


}

/* Common Styles */
.text-gray {
    color: var(--text-gray);
    font-size: 1rem;
    font-weight: 600;

}
.btn-primary{
    border-radius: 41px;
background: #E02C6D;
color: #FFF;
font-size: 1rem;
font-weight: 700;
padding: 10px 24px;
border: none;
margin-top: 15px;
}

/* header styles */
header {
    padding: 80px 120px;

}

.nav-title {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

a:hover {
    color: rgb(255, 132, 0);
}

nav>ul {
    display: flex;


}

nav li {
    margin-left: 34px;
    list-style: none;
}

li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;

}

/* Banner Section Styles */
.banner {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 3.5rem;
    color: var(--primary-color);

    font-weight: 700;
    line-height: 70px;
}

.banner-img {
    background-image: url("../images/Circle\ design.svg");
    width: 440px;
    
}
/* Maim section Styles */
main{
    max-width: 1440px;
}
.sponsors{
   
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 60px;
    
}


/* Responsive small mobile device */

@media screen and (max-width:576px) {
   
    nav , .banner , .sponsors{
        flex-direction: column;
    }
   
    .sponsors img{
        width: 50%;
        padding: 10px;
       
    }
    .sponsors{
        gap: 10px;
        align-content: center;
    }
}
.hide{
    display: none;
}