@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;

}

/* Variable color */
:root {
    --primary-color: #3A3A3A;
    --secondary-color: #18191F;
    --btn-primary: #E02C6D;
    --text-gray: #3A3A3A;


}

/* Common Styles */
.text-gray {
    color: var(--text-gray);
    font-size: 1rem;
    font-weight: 600;

}

.btn-primary {
    border-radius: 41px;
    background: var(--btn-primary);
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    border: none;
    margin-top: 15px;
}

/* header styles */
header {
    max-width: 1440px;
    padding: 80px 120px;

}

.nav-title {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;


}

a:hover {
    color: rgb(255, 132, 0);
}

nav>ul {
    display: flex;


}

nav li {
    margin-left: 34px;
    list-style: none;
}

li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;

}

/* Banner Section Styles */
.banner {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 3.5rem;
    color: var(--primary-color);

    font-weight: 700;
    line-height: 70px;
}

.banner-img {
    background-image: url("../images/Circle\ design.svg");
    width: 440px;

}

/* Maim section Styles */
main {
    max-width: 1440px;
}

.logo {

    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 60px;

}

/* collection Styles */
.popular-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 1.9rem;
    color: var(--primary-color);

}

.popular-collection-container {
    max-width: 1440px;

    padding-left: 200px;
    /* margin-top: 120px; */
    margin-bottom: 250px;
    gap: 30px;
}

.collection-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}

.collection-card {
    width: 270px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 13px 14px;
   margin-bottom: 47px;


}
.collection-card img{
    width: 260px;
}
.collection-card:hover{
    transform: scale(1.1);
}
.collection-title{
    color: var(--secondary-color);
font-size: 1.9rem;
font-weight: 500;
}
.collection-price{
    color:  rgba(0, 0, 0, 0.87);
font-family: Inter;


font-weight: 400;

}
.collection-card div {
    text-align: center;
}

.btn-see-more {
    margin-top: 10px;
    margin-left: 86%;
    background-color: #FFF;
    border: none;
    color: var(--btn-primary);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}



/* Responsive small mobile device */